<div article-index>
  <a class="extra-space" href="#/articles/new">New article</a>
  <br/>
  <div ng-if="!ctrl.articlesLoaded">
    {{ctrl.message}}
  </div>   
  <div ng-if="ctrl.articlesLoaded">
      
   <div class="pagination">
      <a class="previous_page" rel="previous" href="#/index/2">← Previous</span> 
      <a rel="next" href="#/index/1">1</a> 
      <a rel="next" href="#/index/2">2</a> 
      <a class="next_page" rel="next" href="#/index/2">Next →</a>
   </div>
      
    <div id="article-list">
      <div ng-repeat="article in ctrl.allArticles">
        <p>
          <h2>
            <a class="extra-space" href="#/articles/{{article.id}}/show">
              <strong>{{article.title}}</strong>
            </a>
          </h2>
        </p>
        <p>Author: {{article.author}}</p>
        <p>{{article.content}}</p>
      </div>
    </div>
    
    <div class="pagination">
      <a class="previous_page" rel="previous" href="#/index/2">← Previous</span> 
      <a rel="next" href="#/index/1">1</a> 
      <a rel="next" href="#/index/2">2</a> 
      <a class="next_page" rel="next" href="#/index/2">Next →</a>
    </div>
      
  </div>
  
</div>